* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 17px;
    background-color: rgba(0,0,0,.1);
    color: #443c3e;
  }

  html {
    font-size: 16px;
  }

  p, i, u, b {
    line-height: 30px;
    font-family: Verdana, Tahoma, sans-serif;
  }

  a {
    font-family: Verdana, Tahoma, sans-serif;
  }

  input {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 17px;
    padding: 5px;
    border-bottom: 1px solid black;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
  }

  textarea {
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    padding: 5px;
    resize: none;
    border-bottom: 1px solid black;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;

    font-family: Arial, Helvetica, sans-serif;
  }

  fieldset {
    border: none;
  
  }

  label {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn {
    padding: 20px;
    padding-left: 0;
  }

  .btn a {
    text-decoration: none;
    color: black;
    padding: 20px;
  }

  .button-design {
    border: none;
    display: inline-block;
    padding: 4px;
    text-align: center;
    width: 100%;

    background: #1ba0f2;
    color: #fff;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) ;
  }

  .button-design:hover {
    font-weight: bold;
  }

  .title {
    color: grey;
    margin-top: -5px;
  }

  .readmore {
    cursor:pointer;
  }  

  .allNewsLetters:hover {
    cursor: pointer;
  }


/* ------------------------------------------- */

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  
  list-style: none;
  margin: 0; 
  background: #1ba0f2;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}

.active {
  font-weight: bold;
}

@media all and (max-width: 900px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 670px) {

  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.fa {
  padding-right: 5%; 
}


/* ------------------------------------------- */
  

  .row2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
  }

  .row {  
    display: flex;
    flex-wrap: nowrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: rgba(255, 255, 255, 0.163);
    padding: 20px;
  }

  .img {
      width: 100%;
      border-radius: 5px;
  }

  .side-vision {
    text-align: center;
  }

  .logo {
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .slideshow {
      width: 100%;
      height: 70vh;
      position: relative;
      overflow: hidden;
  }

  .slideshow-item {
      width: inherit;
      height: inherit;
      position: absolute;
      opacity: 0;
      animation: cycleImages 31s infinite;
  }

  .slideshow-item:nth-child(1), .slideshow-item:nth-child(1) img {
      animation-delay: 0s;
  }  
  
  .slideshow-item:nth-child(2), .slideshow-item:nth-child(2) img {
      animation-delay: 10s;
  }  
  
  .slideshow-item:nth-child(3), .slideshow-item:nth-child(3) img {
      animation-delay: 20s;
  }



  .slideshow-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: zoom 31s infinite;
  }

  .slideshow-item-text {
      max-width: 40%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.53);
      color: #fff;
      margin: 0px;
      padding: 15px;
      padding-left: 25px;
      border-radius: 0 5px 5px 0;
  }

  .slideshow-item-text h5 {
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 2.5rem;
      color: #1ba0f2;
  }

  .slideshow-item-text p {
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 300;
  }

  @keyframes cycleImages {
      5% {
          opacity: 1;
      }

      50% {
        opacity: 1;
    }      

      70% {
          opacity: 0;
      }
  }

  @keyframes zoom {
      100% {
          transform: scale(1.3);
      }
  }

  @media screen and (max-width: 1000px) {
      .slideshow-item-text {
          max-width: 70%;
          padding: 15px;
      }

      .slideshow-item-text h5 {
          font-size: 26px;
      }
  }

  @media screen and (max-width: 767px) {
      .slideshow-item-text {
          max-width: 100%;
          top: initial;
          bottom: 0;
          transform: initial;
          padding: 15px;
          background-color: rgba(0, 0, 0, 0.445);
          text-align: center;
      }

      .slideshow-item-text h5 {
          font-size: 26px;
          text-shadow: 2px 2px black;
          padding: 10px;
          margin: 0;
      }      
      
      .slideshow-item-text p {
          font-size: 14px;
      }
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 700px) {
    .main {
      flex: 1;
      order: 1;
    }
    
    .side {
      flex: 1;
      order: 2;
    }
  }  

  @media screen and (max-width: 1220px) {
    .column {
      width: 100%;
      display: block;
    }
    
    .main {
      flex: 55%;
    }

    .side {
      flex: 45%;
    }
  }
  
  /* Main column */
  .main {   
    flex: 70%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.163);
  }

  .article {
    background-color: white;
    padding: 20px;
    margin-left: -20px;
    border-radius: 5px;
  }  
  
  .article-click {
    background-color: white;
    padding: 20px;
    margin-left: -20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .article-click a {
    line-height: 25px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }  

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 8px;
    background: #ddd;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .footer p {
    text-align: center;
  }

 /* .footer table {
    width: 100%;
  } */
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }

    .main {
      margin-top: 20px;
      padding: 5px;
    }

    .article-click, .article {
      margin-left: 0px;
    }

  }
  
  .container {
    padding: 0 16px;
  }

  .container h2 {
    font-size: 23px;
  }
  
  .container::after, .row2::after {
    content: "";
    clear: both;
    display: table;
  }

  a {
    text-decoration:none;
}

.fa-bars {
  color: white;
}

.fa-remove {
  color: white;
}


.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(media/loading-gif/loading-gif.gif) center no-repeat white;
}


.flex-image-text {
  display: flex;
  align-items: center;
}

.flex-image-text img {
  max-height: 300px;
  max-width: 50%;
  margin-left: 15px;
}

@media all and (max-width: 1200px) {
  .flex-image-text {
    flex-flow: column wrap;
    padding: 0;
  }

  .flex-image-text img {
    max-height:none;
    max-width: 100%;
    margin: 0;
  }

}

.center {
  display: flex;
  justify-content: center;

}


.vision-statement {
  line-height: 200%; 
  text-align: center;
}

.vision-statement span {
  color: #53494c;
  font-weight: bolder;
}



/* -----------------SLIDESHOW------------------ */

.slideshow-container {
  width: 85%;
  position: relative;
  margin: auto;
  text-align: center;
}

.slideshow-inner img {
  width: 100%;
  max-height: inherit;
  max-width: 780px;
  border-radius: 4px;
}

.mySlides {
  display: none;
  max-height: 420px;
  max-width: 780px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #222428;
  font-weight: bold;
  font-size: 30px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: -50px;
  border-radius: 3px 3px 3px 3px;
}

.prev {
  left: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
  font-size: 36px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.activeDot, .dot:hover {
  background-color: #717171;
}

@media screen and (max-width: 700px) {
  .next, .prev {
      display: none;
  }

  .slideshow-container {
    width: 100%;
  }

  .slideshow-inner img {
    max-height: inherit;
  }
  
}


/* ------------------------- */

.navbar-2 {
  overflow: hidden;
  background-color:#1ba0f2;
  position: relative;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.navbar-2 #myLinks {
  display: none;
}

.box-1-navbar-2 {
  text-align: center;
  color: white;
  padding: 15px;
  text-decoration: none;
}

@media(min-width: 700px) {
  .navbar-2 {
      display: none;
  }
}

@media(max-width: 700px) {
  .navigation {
    display: none;
  }
}

/* ------------------------ */

.popup-container {
  width: 700px;
  background: white;
  border-radius: 4px;
  position: fixed;
  top: calc(50% - 25px);;
  left: calc(50% - 25px);
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  box-shadow: 0 2px 5px rgba(0.5, 0.5, 0.5, 0.5);
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: rgb(215, 211, 211);
}

.popup-img {
  width: 150px;
  margin-top: -60px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup-container h2 {
  font-size: 38px;
  font-weight: bold;
  margin: 30px 0 10px;
}

.popup-container button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #1ba0f2;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) ;
}

.popup-container button:hover {
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .popup-container {
    width: 100%;
    top: calc(50%);
    left: calc(50%);
    padding: 2%;
  }

}

/* ------------------- */

.pointer:hover {
  cursor: pointer;
}

.chess-peak {
  text-align: center;
}

